@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #cccccc34;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.urna__container {
    width: 50vw;
    height: 60vh;
    margin-inline: auto;
    margin-block: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:4px solid #000;
    border-radius: 10px;
}

.left__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.8rem;
    flex: 0.8;
}

.show__numbers {
    margin-top: 15px;
    width: 70%;
    height: 12%;
}

.show__numbers-display {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    padding: 5px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.img__name {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.urna__candidato {
    min-width: 70%;
    max-height: 70%;
    border-radius: 360px;
    margin-bottom: 1.25rem;
}

.name__candidato {
    font-size: 1.7rem;
    margin-inline: auto;
    font-weight: 600;
}


/* Lado direito */


.right__container {
    height: 100%;
    display: flex;
    text-align: center;    
    flex: 1.2;
}

.urna__numbers {
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn {
    background-color: #464343;
    margin-top: 1rem;
    width: 25%;
    margin-inline: 15px;
    height: 15%;
    color: #ffff;
    font-size: 1.2vw;
    font-weight: 600;
    border-radius: 3px;
    margin-top: 1.5rem;
}

.btns {
    width: 30%;
    height: 15%;
    margin-left: 5px;
    font-size: 1.3vw;
    font-weight: 600;
    border-radius: 6px;
    text-transform: uppercase;
    margin-top: 0.8rem;
}

.btn:active,
.btns:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 1.1rem;
}

.corrige__btn {
    background-color: rgba(192, 46, 46, 0.836);
}

.confirma__btn {
    background-color: rgba(46, 214, 46, 0.808);
}

/* Responsividade */

@media (width < 1640px) {
    .show__numbers-display {
        font-size: 2.3rem;
    }
}

@media (width < 1540px) {
    .show__numbers-display {
        font-size: 2rem;
    }
}

@media (width < 1366px) {
    .urna__numbers .btn {
        font-size: 1.1vw;
        width: 22%;
        height: 15%;
    }

    .urna__candidato {
        width: 40%;
        margin-left: 2rem;
    }

    .name__candidato {
        font-size: 2ch;
    }

    .btns {
        height: 12%;
        font-size: 1.1vw;
    }
}

@media (width < 1125px) {
    .urna__container {
        width: 50vw;
    }

    .urna__numbers {
        display: inline-table;
    }

    .urna__candidato {
        width: 40%;
        margin-left: 1.5rem;
    }

    .name__candidato {
        font-size: 2ch;
    }

    .btns {
        width: 25%;
        height: 15%;
    }
}

@media (width < 1075px) {

    .urna__container {
        width: 48vw;
    }

    .show__numbers-display {
        font-size: 1.5rem;
        margin-inline: auto;
    }

    .name__candidato {
        font-size: 1.1rem;
    }

    .urna__candidato {
        width: 30%;
        margin-left: 1.5rem;
    }

    .urna__numbers {
        display: inline-table;
    }

    .urna__numbers .btn {
        font-size: 1rem;
    }

    .btns {
        width: 30%;
        height: 13%;
        font-size: 0.9rem;
    }
}

@media (width < 950px) {
    .urna__container {
        width: 60vw;
        height: 65vh;
        display: flex;
        flex-direction: column;
    }
    
    .show__numbers-display {
        margin-inline: auto;
    }

    .urna__candidato {
        margin-inline: auto;
        width: 85%;
        height: 60%;
        margin-bottom: 0.8rem;
    }

    .name__candidato {
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
    }

    .right__container {
        width: 100%;
    }

    .urna__numbers {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .urna__numbers .btn {
        font-size: 1rem;
        margin-top: 0.8rem;
    }

    .btns {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
}

@media (width < 697px) {
    .urna__container {
        height: 70vh;
    }

    .btns {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
}

@media (width < 550px) {
    .urna__container {
        width: 100vw;
        height: 80vh;
        margin-top: 5rem;
    }
}